<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Cosmobile_CmsExporter">
        <sequence>
            <module name="Cosmobile_Core"/>
            <module name="Cosmobile_Importer"/>
        </sequence>
    </module>
</config>
